@page
<div class="container">
    <div>
		<ul>
			<li>劳于读书，逸于作文。 —— 程端礼</li>
			<li>读书使人心明眼亮。 —— 伏尔泰</li>
			<li>为乐趣而读书。 —— 毛姆</li>
			<li>读书何所求?将以通事理。 —— 张维屏</li>
			<li>读书之法，在循序而渐进，熟读而精思。 —— 朱熹</li>
			<li>读书使人充实，讨论使人机智，笔记使人准确，读史使人明智，读诗使人灵秀，数学使人周密，科学使人深刻，伦理使人庄重，逻辑修辞使人善辩。凡有所学，皆成性格。 —— 培根</li>
			<li>读书时要深思多问。只读而不想，就可能人云亦云，沦为书本的奴隶；或者走马看花，所获甚微。 —— 王梓坤</li>
			<li>文人作文，农人掘锄，本是平平常常的，若照相之际，文人偏要装做粗人，玩什么“荷锄带笠图”；农夫则在柳下捧一本书，装作“深柳读书图”之类，就要令人肉麻。 —— 鲁迅</li>
			<li>外物之味，久则可厌，读书之味，愈久愈深。 —— 程颐</li>
			<li>事在人为：一年可以等于二年、三年，例如每天用十七、八小时读书；反之，二、三年也可以等于一年，甚至比一年还少，例如每天只用五六小时以下读书，我决心每天用十六到十八小时翻阅中国历代文集。 —— 蔡尚思</li>
			<li>积财千万，无过读书。 —— 颜之推</li>
			<li>读书忌死读，死读钻牛角。 —— 叶圣陶</li>
			<li>读书百遍，其义自现。 —— 三国志</li>
			<li>读书要玩味。 —— 程颢</li>
			<li>不去读书就没有真正的教养，同时也不可能有什么鉴别力。 —— 赫尔岑</li>
		</ul>
	</div>
</div>
<script src="~/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

<!--

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            User：<input type="text" id="userInput" />
            <br />
            Message：<input type="text" id="messageInput" />
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>



-->