@page
<div class="container">
    <div>
      <ul>
        <li>正路并不一定就是一条平平坦坦的直路，难免有些曲折和崎岖险阻，要绕一些弯，甚至难免会误入歧途。 —— 朱光潜</li>
        <li>听内心的声音，让自己醒来。 —— 朱光潜</li>
        <li>为乐趣而读书。 —— 毛姆</li>
        <li>世界上最快活的人，是最能领略的人。 —— 朱光潜</li>
        <li>如果有一天： 你不再寻找爱情，只是去爱；你不再渴望成功，只是去做；你不再追求成长，只是去修行；一切才真正开始！ —— 纪伯伦</li>
        <li>读书使人充实，讨论使人机智，笔记使人准确，读史使人明智，读诗使人灵秀，数学使人周密，科学使人深刻，伦理使人庄重，逻辑修辞使人善辩。凡有所学，皆成性格。 —— 培根</li>
        <li>为了爱你，我将和时间对抗， 它从你身上夺走的，我会重新嫁接。 —— 莎士比亚</li>
        <li>友谊是两颗心真诚相待，而不是一颗心对另一颗心的敲打。 —— 鲁迅</li>
        <li>仅仅一个人独善其身，那实在是一种浪费。上天生下我们，是要把我们当作火炬，不是照亮自己，而是普照世界；因为我们的德行倘不能推及他人，那就等于没有一样。 —— 莎士比亚</li>
        <li>我的眼睛画下了你的形体；你的眼睛给我的胸膛开了窗！ —— 莎士比亚</li>
        <li>What's past is prologue.凡是过往，皆为序章。 —— 莎士比亚</li>
        <li>我没有路，但我知道前进的方向。 —— 丘吉尔</li>
        <li>We are faced with the paradoxical fact that education has become one of the chief obstacles to intelligence and freedom of thought.我们面临这样一个进退两难的境地，即教育已经成为智慧和自由思想最主要的障碍之一。 —— 罗素</li>
        <li>获取生活中最丰硕果实和最大享受的秘密在于，冒险犯难地生活！ —— 尼采</li>
        <li>每个文化都有它自豪之处，但是每个文化都只不过是种特定的、由群众发展出的生活风格，而且每个文化都会摧毁个人。它强迫每个人与其它人相似，强迫每个人有同样的信仰系统、同样的道德、同样的礼仪、——它降低了个人的独特性。 —— 尼采</li>
        <li>【真正的教育者会解放你】到好的学校去，就能遇见好的老师，接受好的教育。事实是否真的如此？你期望老师教给你什么？怎么教育你？不同的教师与学校会教给你不同的东西吗？不！真正的教育者并不是拥有头衔或业绩的人，他能让你发挥出所有潜力，也就是说，真正的教育者理应是你的解放者。所以，能让你自由自在充满活力地发挥出所有能力的人才是你真正的教育者，他所在的地方也就是最适合你的学校。—— 尼采</li>
        <li>Nearly all men can stand adversity, but if you want to test a man's character, give him power.几乎所有的人都能忍受逆境，但如果你想测试一个人的性格，那就给他权力。—— 林肯</li>
        <li>法律是显露的道德，道德是隐藏的法律。—— 林肯</li>
        <li>我的生活经验使我深信，没有缺点的人往往优点也很少。—— 林肯</li>
        <li>人们说得好，真理是时间的女儿，不是权威的女儿。—— 培根</li>
        <li>无论何人，若是失去了耐心，就失去了灵魂。—— 培根</li>
        <li>一个过于强调感恩的文化是不可能孕育出民主的，因为无法在人与人之间建立起平等的关系。—— 黑格尔</li>
        <li>每个人都希望真理站在他那一边，但却不是每个人都诚恳地愿意站到真理的那一边。—— 高尔基</li>
        <li>热情就是整个人类。没有热情，宗教、历史、小说、艺术，都是无用的了。—— 巴尔扎克</li>
        <li>One word frees us of all the weight and pain of life: That word is love.有一个字能让我们摆脱生活的压力与痛苦，这个字就是“爱”。—— 爱默生</li>
        <li>教育成功的秘密在于尊重学生。——爱默生</li>
        <li>认识你自己。—— 苏格拉底</li>
      </ul>
	</div>
</div>
<script src="~/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

<!--

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            User：<input type="text" id="userInput" />
            <br />
            Message：<input type="text" id="messageInput" />
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>



-->